<div class="container ">
    <div class="form-capsule w-100 m-auto">
        <form #changeEmailForm="ngForm" (ngSubmit)="onSubmit(changeEmailForm)">
    <h1 class="h3 mb-3 fw-normal">Change Password</h1>

    <div class="form-floating">
        <input type="password" required minlength="6" ngModel name="password" class="form-control" id="floatingFirstPassword"
          placeholder="Password">
        <label for="floatingFirstPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" required minlength="6" ngModel name="passwordMatch" class="form-control"
          id="floatingRePassword" placeholder="Password Again">
        <label for="floatingRePassword">Password Again</label>
      </div>

    <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="changeEmailForm.invalid">Change</button>
  </form>
    </div></div>