<div class="container">
    <div class="form-capsule w-100 ms-auto">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="email" required email ngModel name="email" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" required minlength="6" ngModel name="password" class="form-control"
                    id="floatingLastPassword" placeholder="Password">
                <label for="floatingLastPassword">Password</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="loginForm.invalid">Sign in</button>
            <div class="mt-2 p-2 text-center"> <span class="mt-4 "><a routerLink="/forgot-password">Forgot My
                        Password</a></span></div>
        </form>

    </div>
</div>